/* productCarousel.css */
.image-gallery-icon {
  width: 80px;
  /* height: 250px; */
  size: 140px;
  
}


.image-gallery-icon:hover {
    color: #7BBD36;
}

/* .image-gallery-left-nav .image-gallery-icon,
.image-gallery-right-nav .image-gallery-icon {
  font-size: 800px;
} */



